# Build folders
bin
FakesAssemblies
packages
obj

# Other misc build output
msbuild.log
Src/Microsoft.Azure.SqlDatabase.ElasticScale.Client.xml
.vs

# Test output
TestResults

# Tools files
*.sln.DotSettings.user

# Temporary tools files
*.GhostDoc.xml
*.suo
*.pd_
