# Build folders
bin
FakesAssemblies
packages
obj

# Other misc build output
msbuild.log
Src/Microsoft.Azure.SqlDatabase.ElasticScale.Client.xml

# Test output
TestResults

# Temporary tools files
*.GhostDoc.xml
*.suo
*.pd_
