<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.diagnostics>
      <sources>
        <source name="MultiShardQueryTraceSource" switchName="SourceSwitch"
          switchType="System.Diagnostics.SourceSwitch" />
      </sources>
      <switches>
        <!-- You can set the level at which tracing is to occur -->
        <!--<add name="SourceSwitch" value="Verbose" />-->
        <!-- You can turn tracing on/off -->
        <add name="SourceSwitch" value="Off"/>
      </switches>
    </system.diagnostics>
</configuration>