<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <system.diagnostics>
      <sources>
        <source name="ShardManagementTraceSource" switchName="SourceSwitch"
          switchType="System.Diagnostics.SourceSwitch" >
          <listeners>
            <remove name="Default"/>
            <add name="ConsoleListener" />
          </listeners>
        </source>
      </sources>
      <switches>
        <!-- You can set the level at which tracing is to occur -->
        <add name="SourceSwitch" value="Verbose" />
        <!-- You can turn tracing off -->
        <!--add name="SourceSwitch" value="Off" -->
      </switches>
      <sharedListeners>
        <!--
        <add name="myListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="myListener.log">
          <filter type="System.Diagnostics.EventTypeFilter"
            initializeData="Verbose"/>
        </add>-->
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" 
             traceOutputOptions="ProcessId, DateTime" />
      </sharedListeners>
      <trace autoflush="true" indentsize="4">
        <listeners>
          <add name="ConsoleListener" />
        </listeners>
      </trace>
    </system.diagnostics>
  </configuration>